<article id="sobre">
    <section class="section" id="section1">
        <h1 class="titulo">Produto</h1>
        <p>Diariamente diversas empresas são criadas, de diferentes portes, porém, a maioria são pequenas, com fundo limitado, onde inicialmente a grande parte desse fundo é investido na estrutura e funcionamento "bruto" da empresa, dessa forma, negligenciando a gestão financeira, acarretando diversos problemas, tanto no presente quanto no futuro.</p>
        <p>Os indicadores (de desempenho, lucratividade e financeiros) de forma geral, são os levantamentos dos resultados que podem ser feitos com uma periodicidade mensal, trimestral, semestral ou anual, de acordo com as necessidades e estratégias da organização.</p>
    </section>
    <section class="section" id="section2">
        <h1 class="titulo">Proposta de Valor</h1>
        <p>Sobre a proposta de valor do nosso produto é fornecer aos usuários um conjunto básico de recursos e funcionalidades que permitam visualizar e analisar dados financeiros de forma rápida e eficiente.</p>
        <p>Isso pode ajudar os responsáveis a ter melhor entendimento do capital da empresa, facilitando tomadas de decisões como investimentos ou corte de gastos. Além disso, com os gráficos detalhados, a possibilidade de exportar as informações exibidas, é quase que certeiro a diminuição de gastos desnecessários e tempo perdido, tendo como bônus o custo acessível do produto, já que é focalizado e não trará funcionalidades fora do propósito contratado.</p>
    </section>
</article>
