#sobre{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 5em;
}

.titulo{
    font-size: 3em;
}

.section{
    margin: 1em;
    width: 40%;
}

.section p{
    margin: 1em;
    font-size: 1.2em;
}