<nav id="navbar">

  <ul class="nav-links">
    <li>INDICADORES
      <ul class="dropdown">
        <li><a routerLink="/grafico-vendas">Vendas do mês</a></li>
        <li><a routerLink="/grafico-origem-vendas">Origem das Vendas</a></li>
      </ul>
    </li>
    <li routerLink="/sobre">SOBRE</li>
  </ul>

  <h1 id="titulo" routerLink="/grafico-vendas">Bem-Vindo</h1>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer>
  <h1>Hands on Works X</h1>
  <div id="Dev">
    <h2>Desenvolvido por:</h2>
    <div id="nomes">
      <p>Alexsander de Souza Faria</p>
      <p>Willian César Fagundes</p>
    </div>
  </div>
</footer>