

<nav id="navbar">

  <ul class="nav-links">
    <li>INDICADORES
      <ul class="dropdown">
        <li><a routerLink="/grafico-vendas">Vendas do mês</a></li>
        <li><a routerLink="/grafico-origem-vendas">Origem das Vendas</a></li>
        <li><a routerLink="/grafico-3">Grafico 3</a></li>
      </ul>
    </li>
    <li routerLink="/sobre">SOBRE</li>
    <li routerLink="/contato">CONTATO</li>
  </ul>

  <h1 id="titulo" routerLink="/grafico-vendas">Bem-Vindo</h1>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>